# Environments and caches
.env
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.pyd
.pytest_cache/

# Airflow runtime logs
airflow/logs/*
!airflow/logs/.gitkeep

# Generated data
data/generated/*
data/raw_lake/*
!data/raw_lake/.gitkeep

# Temporary files
*.pid
*.log
user_files
minio.license
license/

# ClickHouse local storage artifacts
access/
cores/
metadata/
preprocessed_configs/
store/
uuid
data/default/
data/clickhouse_db/
/clickhouse
/clickhouse.exe
